html,
body {
    background-color: #fff;
    font-size: 15px;
    color: #565656;
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    font-family: 'roboto', sans-serif;
    font-weight: 300;
}
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fefefe;
    z-index: 99999;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.loaded {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(../images/preloading.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: -20px 0 0 -20px;
}
img {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    outline: none;
}
a,
button,
a span {
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}
p {
    margin: 0 0 15px;
}
a, p{
 font-family: 'latolight';   
}
img {
    max-width: 100%;
}
h2,
h3 {
    font-weight: 300;
    margin: 0;
}
h4 {
    font-family: 'latoheavy';
    font-weight: 300;
    margin: 0;
    line-height: 2rem;
}
h2 {
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: .9rem;
}
h3 {
    font-weight: 300;
    margin-bottom: .9rem;
    font-size: 2.1rem;
    line-height: 2.5rem;
}
h4 {
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-bottom: 1.1rem;
}
p {
    line-height: 1.5rem;
    font-size: 1.1rem;
}
p:last-child {
    margin-bottom: 0px;
}
.text {
    color: #333333;
}
.colorstext {
    color: #f56363;
}
.coloricon i {
    color: #f56363;
}
.colorsbg {
    background: #f56363;
    color: #ffffff;
}
.lightbg {
    background-color: #f9f9f9;
}
.transition {
    -webkit-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.sections {
    margin-top:50px;
    overflow: hidden;
}
.sections.footer {
    padding-bottom: 80px;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.60);
    width: 100%;
    min-height: 400px;
}
.overlay-fluid-block {
    background-color: rgba(0, 0, 0, 0.60);
    width: 100%;
    padding: 50px 0px;
}
.home-overlay-fluid {
    background-color: rgba(0, 0, 0, 0.60);
    width: 100%;
    padding: 250px 0px;
}
.separator {
    height: 1px;
    width: 150px;
    margin: auto;
    background: green;
}
/*Accueil*/
h1 span {
    color: green;
    font-weight: 400;
}
.main_menu_bg{
	margin-top:0px;
}
.main_menu_bg .navbar-default {
    background-color: transparent; 
    border-color: transparent; 
	transition:.6s;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
	color:green;
}
.main_menu_bg .navbar {
    margin-bottom: 0px;
    border-bottom: 1px solid #686868;
	min-height: 90px;
}
.main_menu_bg .container-fluid {
    margin-top: 20px;
}
.main_menu_bg .navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 33px;
	text-transform:uppercase;
}
.main_menu_bg .navbar-default .navbar-nav>.active>a{
    color: white;
    background-color: transparent;
    border-bottom: 1px solid #FFF;
    margin-bottom: -1px;
    padding-bottom: 33px;	
}
.home{
    background: url(../images/homebg.jpg) no-repeat 100% 100%;
    text-align: center;
    padding-top:100px;
}
.single_slider p{
    max-width: 30%;
    font-size: 2.375rem;
    font-family: 'latoheavy_italic';
    line-height: 45px;
    color:#fff;
}
.single_slider h2{
    color:#fff;
    font-size:4.525rem;
    font-family: 'latobold';
    margin-bottom:50px;
}
.main_slider_area .owl-theme .owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    margin-top: 160px;
}
.main_slider_area .owl-theme .owl-nav [class*='owl-'] {
    color: black;
    background: transparent;
}
.main_slider_area .owl-theme .owl-nav [class*='owl-']:hover {
    background: transparent;
    color: white;
    text-decoration: none;
}
.main_slider_area .owl-theme .owl-nav [class*='owl-']:hover {
    background: transparent;
    color: white;
    text-decoration: none;
}
/* concept */
.domainsearce{
    padding: 80px 0px;
}
.main_somainsearrce{}
.main_somainsearrce{}
.head_title{
    margin-bottom: 40px;
}
.head_title h2{
    font-size: 1.5rem;
    color:#383737;
    font-family: 'latoheavy';
}
.head_title p{
    font-size:1rem ;
    color:#a2a2a2;
    font-family: 'latolight';
}
/*Evenements*/
.pricingtop{
    background: url(../images/pricingbg.jpg) no-repeat 100% 100%;
    background-size:cover;
}
.pricing{
    margin-top:-250px;
}
.pricing_content{
    width:100%;
    margin:0 auto;
}
.pricing .pricing_head .icon_area.p_icon_one i{
	border-top:5px solid green;
	border-left:5px solid green;
	border-right:5px solid green;
	color:green;

}
.pricing .pricing_head .icon_area.p_icon_two i{
	border-top:5px solid green;
	border-right:5px solid green;
	border-left:5px solid green;
	border-bottom:5px solid green;
	color:green;
}
.pricing .pricing_head .icon_area i{
	color:#ff0000;
	font-size:1.0625rem;
	padding:20px;
	border-radius: 50%;
	display: inline-block;
	border-top:5px solid #ff0000;	
}
.single_pricing{
    border:1px solid #ddd;
    padding:40px 0px;
    margin-top:20px;
    border-top: 3px solid #ffcc33;
    background: #fff;
}
.single_pricing .single_pricing_figure{
    padding: 0px 15px;
}
.single_pricing .single_pricing_figure ul li span.princing_name{
    text-align: left;
    display: inline-block;
    width:80%;
}
.single_pricing .single_pricing_figure ul li span.princing_price{
    text-align: right;
    display: inline-block;
    width:15%;
}
.single_pricing .single_pricing_figure ul li span.princing_price_one{
    color:green;
}
.single_pricing .single_pricing_figure ul li span.princing_price_two{
    color:green;
}
.single_pricing ul{
    margin-top:25px;
    list-style: none;
    padding: 0;
}
.single_pricing ul li{
    line-height:45px;
    height:45px;
}
/* Notre équipe */
.abouts_area{
    display: inline-block;
    border-top: 1px dashed #ddd;
    margin-top: 90px;
    padding-top: 95px;
    margin-bottom: 80px;
}
.abouts_area .single_about{
    border-right: 1px dashed #ddd;
    padding-right: 100px;
}
.abouts_area .single_about h3{
    font-size:2.1875rem;
    font-family: 'latosemibold';
        
}
.abouts_area .single_about p{
    font-size:1.125rem;
    font-family: 'latothin';
        
}
.abouts_area .single_team .team_img img{
    width:100px;
    height:100px;
    border-radius: 50%;
    border: 5px solid #e5e5e5;
}
.abouts_area .single_team .team_deatels{
    margin-top:10px;
}
.abouts_area .single_team .team_deatels h4{
    font-size:1.0625rem;
    color:#303030;
    margin-bottom: 0px;
    
}
.abouts_area .single_team .team_deatels p{
    color:#8e8e8e;
    font-size:0.9375rem;
    
}
.abouts_area .single_team .team_deatels .team_socail{
    margin-left:-15px;
}
.abouts_area .single_team .team_deatels .team_socail a{
    margin-left: 15px;
    display: inline-block;
}
.abouts_area .single_team .team_deatels .team_socail a i{
    color:#bfbfbf;
    font-size:0.875rem;
}
.abouts_area .single_team .team_deatels .team_socail a:hover i{
    color:#1f89ba;
}
/* Commentaires */
.comments{
    background: url(../images/commnsbg.jpg) no-repeat 100% 100%;
    background-size: cover;
}
.comments .single_comments p{
    max-width: 70%;
    margin: 20px auto;  
    color:#fff;
    font-size:1.25rem;
}
.comments .single_comments a{  
    color:#fff;
    font-size:1.25rem;
}
/* soutien */
.service{
    padding: 80px 0px;
}
.single_service{
    margin-top: 20px;
}
.single_service .single_service_icon{
    margin-bottom:30px;
}
.single_service .single_service_icon a i{
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 1.75rem;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    
}
.single_service .single_service_icon.icon_one a i{
    background: #f1c40f;  
}
.single_service .single_service_icon.icon_two a i{
    background: #0faff1;  
}
.single_service .single_service_deatels h4{
    font-size:1.125rem;
    margin-bottom: 0px;    
}
.single_service .single_service_deatels p{
    font-size: 1.01rem
}
/*footer*/
.footer{
    background: #2a2a2a;
    padding: 80px 0px;
}
.footer a, p{
    color:#686868;
}
.footer a:hover,
i:hover{
    color:#fff;
}
.single_right_footer ul li a i{
    color:#686868;
    padding-right: 5px;
}
.single_right_footer ul li:hover i{
    color:#fff;
}
.footer .fo_bottom_right{
    border-right:1px solid #686868;
    margin-top:20px;   
}
.footer .fo_bottom_socail{
    margin-top:20px;
}
.footer .fo_bottom_socail a i{
    padding-right: 5px;
    display: inline-block;
}
.footer .fo_bottom_socail p, a{
    font-size: 13px;
    display: block;
}
.coppyright{
	overflow:hidden;
	display:block;
	width:100%;
	background:#3d3325;
	text-align:center;
}
.coppyright p{
	display:inline-block;
	color:#fff;
	margin:20px 0px;
}
.coppyright p i{
	display:inline-block;
	color:#ff0000;
	padding:0px 10px;
}
.coppyright p a{
	display:inline-block;
	color:#ff0000;
	font-weight:700;
	padding:0px 10px;
	font-size:18px;
}